# Environment variables
.env

# Python virtual environment
.venv/
venv/
env/

# Django project files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Static files
/static/
/media/
```
